/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
 * General layout
 */
.inner-wrap {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ccc;
}

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

// .wrap-all {
//     max-width: 800px;
//     margin: 0 auto;
//     background-color: #ccc; //fanns inget
// }

.site-logo {
    display: none;
}

.footer-column {
    width: 33%;
    float: left;
}

.author-byline {
    width: 500px;
    padding: 1px;
    border: 1px solid #c0b283;
    margin-bottom: 10px;
    margin-bottom: 1px;
    background-color: white;
    overflow: auto;
}
